<div *ngIf="project" class="project-detail">
  <h1>{{ project.name }}</h1>
  <div>
    <mat-card>
      <mat-card-subtitle>Bezeichnung</mat-card-subtitle>
      <mat-card-title>{{ project.name }}</mat-card-title>
      <mat-card-subtitle>Status</mat-card-subtitle>
      <mat-card-title>
        <div
          [class.abgeschlossen]="project.status === 'ABGESCHLOSSEN'"
          [class.geplant]="project.status === 'GEPLANT'"
          class="status"
        >
          {{
            project.status.charAt(0).toUpperCase() +
              project.status.slice(1).toLowerCase()
          }}
        </div>
      </mat-card-title>
      <mat-card-subtitle>Betreuungsperson</mat-card-subtitle>
      <mat-card-title>
        {{ project.supervisorName }}
      </mat-card-title>
      <mat-card-subtitle>Beschreibung</mat-card-subtitle>
      <mat-card-content>
        {{ project.description }}
      </mat-card-content>
      <mat-card-actions>
        <div>
          <button
            (click)="deleteProject(project)"
            *ngIf="hasPermission"
            class="no-hover"
            id="project-remove-button"
            mat-icon-button
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
          <button
            (click)="openProjectDialog(project)"
            *ngIf="hasPermission"
            class="no-hover"
            id="project-edit-button"
            mat-icon-button
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </mat-card-actions>

      <div *ngIf="showProposalFeatures">
        <!--Displaying completed proposals-->
        <mat-card-subtitle>Exposé</mat-card-subtitle>
        <div *ngFor="let prop of publishedProposals">
          <!--TO DO: Replace studenId with proper name-->
          <mat-card-title>Von {{ prop.studentId }}</mat-card-title>
          <mat-card-content>
            <markdown [data]="prop.content"></markdown>
          </mat-card-content>
        </div>

        <!--Display the work-in-progres proposal for the student-->
        <div *ngIf="user.hasRole('student')">
          <mat-card-title>Mein Exposé</mat-card-title>
          <mat-card-actions>
            <button
              mat-button
              *ngIf="studentProposals.length == 0"
              (click)="createProposal()"
            >
              Neues Exposé anlegen
            </button>
            <div *ngFor="let proposal of proposals">
              <button mat-button routerLink="/proposal/{{ proposal.id }}">
                Exposé bearbeiten
              </button>
              <button
                mat-button
                *ngIf="studentProposals.length != 0"
                routerLink="/old-proposals/{{ proposal.id }}"
              >
                Alte Versionen
              </button>
            </div>
          </mat-card-actions>
        </div>

        <!--Display all proposals for the supervisor-->
        <div *ngIf="user.hasRole('professor')">
          <mat-card-title>Exposé Übersicht</mat-card-title>
          <div *ngFor="let proposal of proposals">
            <mat-card-title>Exposé von {{ proposal.studentId }}</mat-card-title>
            <button mat-button routerLink="/proposal/{{ proposal.id }}">
              Exposé bearbeiten
            </button>
            <button mat-button routerLink="/old-proposals/{{ proposal.id }}">
              Alte Versionen
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
