<div class="profile-dialog">
  <h1 mat-dialog-title>Profildaten</h1>
  <form
    (ngSubmit)="onSubmit(profileFormControl.value)"
    *ngIf="profileFormControl"
    [formGroup]="profileFormControl"
    class="row"
    novalidate
  >
    <div class="profile-dialog-form">
      <mat-form-field>
        <input
          [formControl]="profileFormControl.controls['name']"
          matInput
          placeholder="Name"
        />
        <mat-error
          *ngIf="profileFormControl.controls['name'].hasError('required')"
        >
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          [formControl]="profileFormControl.controls['phonenumber']"
          matInput
          placeholder="Telefonnummer"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          [formControl]="profileFormControl.controls['mail']"
          matInput
          placeholder="E-Mailadresse"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-select
          [formControl]="profileFormControl.controls['studiengang']"
          placeholder="Studiengang"
          (selectionChange)="setModules($event)"
        >
          <mat-option
            *ngFor="let studyCourse of studyCourses"
            value="{{ studyCourse.name }} ({{ studyCourse.academicDegree }})"
            >{{ studyCourse.name }} ({{
              studyCourse.academicDegree
            }})</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select
          [formControl]="profileFormControl.controls['status']"
          placeholder="Status"
        >
          <mat-option value="Suchend">Suchend</mat-option>
          <mat-option value="Nicht Suchend">Nicht Suchend</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <textarea
          [formControl]="profileFormControl.controls['aboutMe']"
          class="form-textarea"
          matInput
          placeholder="Über Mich"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-select
          [formControl]="profileFormControl.controls['modules']"
          placeholder="Abgeschlossene Module"
          multiple
          [(ngModel)]="selectedModules"
        >
          <mat-option *ngFor="let modules of modules" [value]="modules"
            >{{ modules.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <textarea
          [formControl]="profileFormControl.controls['doneJobs']"
          class="form-textarea"
          matInput
          placeholder="Berufserfahrung"
        ></textarea>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <div class="action-buttons">
        <button (click)="deleteStudent()" mat-button type="reset">
          Profil Löschen
        </button>
        <button (click)="closeDialog()" mat-button type="reset">
          Abbrechen
        </button>
        <button
          [disabled]="
            profileFormControl.controls['name'].hasError('required') ||
            hasSubmitted
          "
          mat-button
          type="submit"
        >
          Änderungen speichern
        </button>
      </div>
    </div>
  </form>
</div>
