@import 'src/app/components/project-list/project-list.component';

.professor-list {
  margin-top: 70px;
  margin-left: 20px;
  /*margin-right: 20px;*/
  padding-bottom: 20px;
}

@media (max-width: 1085px) {
  .mat-card {
    width: auto;
    margin-right: 0;
    margin-top: 34px;
    display: block;
  }

  .project-list {
    margin-right: 20px;
  }
}

.professor-list-header {
  display: block;
}

.professor-options {
  width: 96%;
}

.professor-options .mat-icon-button {
  float: right;
  margin-top: 10px;
}

@media (max-width: 315px) {
  .professor-options {
    width: 104%;
  }
}
