@import 'src/app/components/project-dialog/project-dialog.component';

.profile-dialog-form {
  display: flex;
  flex-direction: column;
  min-width: 600px;
}

.profile-dialog-form > * {
  width: 100%;
}

@media (max-width: 600px) {
  .profile-dialog-form > * {
    width: 100%;
  }
}
