<div class="profile-dialog">
  <h1 mat-dialog-title>Profildaten</h1>
  <form
    (ngSubmit)="onSubmit(profileFormControl.value)"
    *ngIf="profileFormControl"
    [formGroup]="profileFormControl"
    class="row"
    novalidate
  >
    <div class="profile-dialog-form">
      <mat-form-field>
        <input
          [formControl]="profileFormControl.controls['name']"
          matInput
          placeholder="Name"
          required
        />
        <mat-error
          *ngIf="profileFormControl.controls['name'].hasError('required')"
        >
          Name <strong>fehlt</strong>!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select
          [formControl]="profileFormControl.controls['title']"
          placeholder="Titel"
        >
          <mat-option value="Dr.">Dr.</mat-option>
          <mat-option value="Prof.">Prof.</mat-option>
          <mat-option value=" ">Kein Titel</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input
          [formControl]="profileFormControl.controls['adresse']"
          matInput
          placeholder="Adresse"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          [formControl]="profileFormControl.controls['strasse']"
          matInput
          placeholder="Straße"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          [formControl]="profileFormControl.controls['plz']"
          matInput
          placeholder="Postleitzahl & Ort"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          [formControl]="profileFormControl.controls['raum']"
          matInput
          placeholder="Raum"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          [formControl]="profileFormControl.controls['phonenumber']"
          matInput
          placeholder="Telefonnummer"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          [formControl]="profileFormControl.controls['mail']"
          matInput
          placeholder="E-Mailadresse"
        />
      </mat-form-field>
      <mat-form-field>
        <textarea
          [formControl]="profileFormControl.controls['aboutMe']"
          class="form-textarea"
          matInput
          placeholder="Über Mich"
        ></textarea>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <div class="action-buttons">
        <button (click)="deleteProfessor()" mat-button type="reset">
          Profil Löschen
        </button>
        <button (click)="closeDialog()" mat-button type="reset">
          Abbrechen
        </button>
        <button
          [disabled]="
            profileFormControl.controls['name'].hasError('required') ||
            hasSubmitted
          "
          mat-button
          type="submit"
        >
          Änderungen speichern
        </button>
      </div>
    </div>
  </form>
</div>
