.profile {
  display: flex;
  width: 100%;
  font-family: sans-serif;
}

.leftSide {
  //background-color: #ddd;
  width: 75%;
  padding: 20px;
}

.rightSide {
  //background-color: #eee;
  width: 25%;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .leftSide {
    width: 100%;
    padding: 20px;
  }
  .rightSide {
    width: 100%;
    padding: 20px;
  }

  .profile {
    display: block;
    width: 100%;
    font-family: sans-serif;
  }
}

.projectbox {
  //background-color: #ccc;
  list-style: none;
  padding: 0;
  float: bottom;
}

h3 {
  //background-color: #aaa;
  display: block;
  white-space: nowrap;
  padding: 10px;
  color: var(--th-red);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1),
    0 1px 5px 0 rgba(0, 0, 0, 0.09);
}

nav > ul > li > ul {
  display: block;
}

.tags a {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  background-color: #777;
  background-color: #b43092;
  margin: 2px;
  text-decoration: none;
}

.actualList {
  display: flex;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1),
    0 1px 5px 0 rgba(0, 0, 0, 0.09);
}

.projectname {
  flex: 2;
  padding: 10px;
}

.projectdescription {
  flex: 7;
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
}
