<div class="profile">
  <div class="linkeSeite">
    <div class="vorstellfeld">
      <p>Hallo</p>
    </div>
    <div class="FavorisiertesProjekt">
      <h3>Mein Fav Projekt gerade</h3>
      <ul>
        <li>Projekt 1</li>
      </ul>
    </div>
    <div class="AngeboteneProjekte">
      <nav>
        <ul class="Projektbox">
          <li class="Projektlsite" (click)="onSelect1()">
            <h3>Meine angebotenen Projekte</h3>
            <ul *ngIf="liste1offen" class="konkreteListe">
              <li>Projekt 1</li>
              <li>Projekt 2</li>
            </ul>
          </li>
          <li class="Projektlsite" (click)="onSelect2()">
            <h3>Meine laufenden Projekte</h3>
            <ul *ngIf="liste2offen" class="konkreteListe">
              <li>Projekt 3</li>
              <li>Projekt 4</li>
            </ul>
          </li>
          <li class="Projektlsite" (click)="onSelect3()">
            <h3>Meine abgeschlossene Projekte</h3>
            <ul *ngIf="liste3offen" class="konkreteListe">
              <li>Projekt 5</li>
              <li>Projekt 6</li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="rechteSeite">
    <div class="Profname">
      <p>Dr. Prof. Name</p>
    </div>
    <div class="profilfoto">
      <label></label>
    </div>
    <div class="TAGs">
      <p>TAGs</p>
    </div>
    <div class="Kontaktinfo">
      <p>Kontaktinfo</p>
    </div>
  </div>
</div>
