<div class="profile">
  <div class="leftSide">
    <div class="selfDescription">
      <p>Hallo</p>
    </div>
    <div class="favoriteProject">
      <h3>Mein Fav Projekt gerade</h3>
      <ul>
        <li>Projekt 1</li>
      </ul>
    </div>
    <div class="projects">
      <nav>
        <ul class="projectbox">
          <li class="projectList" (click)="onSelect1()">
            <h3>Meine angebotenen Projekte</h3>
            <ul *ngIf="list1open" class="actualList">
              <li>Projekt 1</li>
              <li>Projekt 2</li>
            </ul>
          </li>
          <li class="projectList" (click)="onSelect2()">
            <h3>Meine laufenden Projekte</h3>
            <ul *ngIf="list2open" class="actualList">
              <li>Projekt 3</li>
              <li>Projekt 4</li>
            </ul>
          </li>
          <li class="projectList" (click)="onSelect3()">
            <h3>Meine abgeschlossene Projekte</h3>
            <ul *ngIf="list3open" class="actualList">
              <li>Projekt 5</li>
              <li>Projekt 6</li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="rightSide">
    <div class="Profname">
      <p>Prof. Dr. Max Mustermann</p>
    </div>
    <div class="profilePic">
      <img src="assets/images/profile/placeholder.jpg" />
    </div>
    <div class="TAGs">
      <p class="tags">
        <span class="tags-title">Tags:</span>
        <a href="#" rel="tag" class="label">ST1</a>
        <a href="#" rel="tag" class="label">MCI</a>
        <a href="#" rel="tag" class="label">KI</a>
      </p>
    </div>
    <div class="contactinfo">
      <p>Kontaktinfo:</p>
      <p>Technische Hochschule Köln</p>
      <p>Steinmüllerallee 6</p>
      <p>51643 Gummersbach</p>
      <p>Raum 1506</p>
      <br />
      <p>Tel:+49 2261-8196-6367</p>
      <p>Mail:max.mustermann@th-koeln.de</p>
    </div>
  </div>
</div>
