<div class="dozentLayout" *ngIf="isDozent || isID">
  <div class="mainDiv">
    <div class="aboutMeDiv">
      <h1>Über mich</h1>
      <p class="paddingStyle" *ngIf="professor">{{ professor.aboutMe }}</p>
    </div>
    <div class="project-list">
      <div class="project-list-header">
        <h1>Projekte</h1>
        <div class="project-options">
          <mat-form-field>
            <mat-select
              (selectionChange)="filterProjectsByStatus($event)"
              placeholder="Status"
            >
              <mat-option>Alle</mat-option>
              <mat-option *ngFor="let status of allStatus" [value]="status">{{
                status.charAt(0).toUpperCase() + status.slice(1).toLowerCase()
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input
              (keyup)="filterProjectsByName($event)"
              matInput
              placeholder="Suche"
            />
          </mat-form-field>
          <button
            (click)="openProjectDialog(null)"
            *ngIf="hasPermission"
            class="no-hover"
            mat-icon-button
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <mat-card *ngFor="let project of projects">
        <mat-card-header>
          <mat-card-subtitle>Bezeichnung</mat-card-subtitle>
          <mat-card-title>{{ project.name }}</mat-card-title>
          <mat-card-subtitle>Status</mat-card-subtitle>
          <mat-card-title>
            <div
              [class.abgeschlossen]="project.status === 'ABGESCHLOSSEN'"
              [class.geplant]="project.status === 'GEPLANT'"
              class="status"
            >
              {{
                project.status.charAt(0).toUpperCase() +
                  project.status.slice(1).toLowerCase()
              }}
            </div>
          </mat-card-title>
          <mat-card-subtitle>Betreuungsperson</mat-card-subtitle>
          <mat-card-title>
            {{ project.supervisorName }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button routerLink="/projects/{{ project.id }}">
            Details
          </button>
          <button
            (click)="deleteProject(project)"
            *ngIf="hasPermission"
            class="no-hover"
            id="project-remove-button"
            mat-icon-button
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
          <button
            (click)="openProjectDialog(project)"
            *ngIf="hasPermission"
            class="no-hover"
            id="project-edit-button"
            mat-icon-button
          >
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="contactDetailsDiv">
    <button
      (click)="openProfileDialog(professor)"
      *ngIf="isDozent"
      class="no-hover"
      mat-icon-button
    >
      <mat-icon>edit</mat-icon>
    </button>
    <div>
      <p *ngIf="professor">{{ professor.title }} {{ professor.name }}</p>
    </div>
    <div>
      <img src="assets/images/profile/placeholder.jpg" />
    </div>
    <div class="TAGs">
      <p class="tags" *ngIf="professor">
        <span class="tags-title">Tags:</span>
        <a *ngFor="let tag of professor.tags" rel="tag" class="label">{{
          tag
        }}</a>
      </p>
    </div>
    <div class="contactinfo" *ngIf="professor">
      <p>Kontaktinfo:</p>
      <p>{{ professor.adresse }}</p>
      <p>{{ professor.strasse }}</p>
      <p>{{ professor.plz }}</p>
      <p>{{ professor.raum }}</p>
      <br />
      <p>Tel:{{ professor.phonenumber }}</p>
      <p>Mail:{{ professor.mail }}</p>
    </div>
  </div>
</div>
<div class="studentLayout" *ngIf="isStudent && !isID">
  <div class="mainDiv">
    <div class="headStudent">
      <p>Studiengang: {{ student.studiengang }}</p>
      <p>Status: {{ student.status }}</p>
    </div>
    <div class="aboutMeDiv">
      <h1>Über mich</h1>
      <p class="paddingStyle" style="width: 80%">{{ student.aboutMe }}</p>
    </div>
    <div class="qualityDiv">
      <h1>Qualifikation</h1>
      <p class="paddingStyle">
        Hier finden sie eine Lister meiner Qualifikationen:
      </p>
      <p class="paddingStyle">
        Abgeschlossene Module: {{ student.doneModules }}
      </p>
      <p class="paddingStyle">Berufserfahrung: {{ student.doneJobs }}</p>
    </div>
    <div class="doneProjectsDiv">
      <h1>Abgeschlossene Projekte</h1>
      <p class="paddingStyle">
        Das sind Projekte, welche ich bereits abgeschlossen habe:
      </p>
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Bezeichnung</mat-card-subtitle>
          <mat-card-title>QQ1</mat-card-title>
          <mat-card-subtitle>Status</mat-card-subtitle>
          <mat-card-title>
            <div class="status">ABGESCHLOSSEN</div>
          </mat-card-title>
          <mat-card-subtitle>Betreuungsperson</mat-card-subtitle>
          <mat-card-title>
            Prof. Dozent
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  <div class="contactDetailsDiv">
    <button
      (click)="openProfileStudentDialog(student)"
      *ngIf="isStudent"
      class="no-hover"
      mat-icon-button
    >
      <mat-icon>edit</mat-icon>
    </button>
    <div>
      <p>{{ student.name }}</p>
    </div>
    <div>
      <img src="assets/images/profile/placeholder.jpg" />
    </div>
    <div class="TAGs">
      <p class="tags">
        <span class="tags-title">Tags:</span>
        <a *ngFor="let tag of student.tags" rel="tag" class="label">{{
          tag
        }}</a>
      </p>
    </div>
    <div class="contactinfo">
      <p>Kontaktinfo:</p>
      <p>Tel:{{ student.phonenumber }}</p>
      <p>Mail:{{ student.mail }}</p>
    </div>
  </div>
</div>
