@import 'src/app/components/project-list/project-list.component';

//START OVERWRITE CSS
.project-list {
  margin-top: 0;
}

.mat-card {
  width: auto;
  display: block;
}
//END

.dozentLayout {
  display: flex;
  width: 100%;
  font-family: sans-serif;
}
.studentLayout {
  display: flex;
  width: 100%;
  font-family: sans-serif;
}

.studentLayout .headStudent p {
  display: inline-flex;
  margin: 0 75px;
}

.mainDiv {
  //background-color: #ddd;
  padding: 20px;
  width: 82%;
}

.contactDetailsDiv {
  //background-color: #eee;
  width: auto;
  padding: 20px;
}

.tags a {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  background-color: #777;
  background-color: #b43092;
  margin: 2px;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.paddingStyle {
  padding-top: 15px;
  padding-left: 30px;
}

.aboutMeDiv,
.doneProjectsDiv,
.qualityDiv {
  margin-left: 20px;
  padding-bottom: 20px;
}
