<div class="dozentLayout" *ngIf="isDozent">
  <div class="head">
    <h2>Hallo {{ user.getFullName() }}</h2>
    <p>Deine laufenden Projekte sind:</p>
  </div>
  <div class="project1">
    <p class="projectTitle">
      PP:Entwicklung eines Architekturstils für ein Gesamtsystem
    </p>
    <div class="TAGs">
      <p class="tags">
        <a *ngFor="let tag of profil.tags" href="#" rel="tag" class="label">{{
          tag
        }}</a>
      </p>
    </div>
    <div class="projectBodyContainer">
      <div class="projectBodyLeft">
        <p>Arbeitsschritte</p>
        <ol type="a">
          <li class="checked">
            Grundlegenden Architekturstil des Gesamtsystems festlegen
            14.05.-21.05.
          </li>
          <li class="checked">
            den Architekturstil für die Datenzugriffsschicht bestimmen
            21.05.-28.05.
          </li>
          <li class="checked">
            den Architekturstil für die Logikschicht definieren 28.05.03.06
          </li>
          <li>
            den Architekturstil für die Serviceschicht festlegen 10.06.-17.06.
          </li>
          <li>
            den Architekturstil für die Präsentations-(UI)-Schicht bestimmen
            17-06.-24.06.
          </li>
          <li>
            Entscheidungen in einem kurzen Abstract zusammenfassen 24.06.-31.06
          </li>
        </ol>
      </div>
      <div class="projectBodyRight">
        <p>Nächster Termin:13.06 13:30 Uhr</p>
        <div class="professor1">
          <img src="assets/images/profile/placeholder.jpg" />
          <div class="contactinfo">
            <p>Kontaktinfo:</p>
            <p>Prof. Dr. mustermann</p>
            <p>Tel:{{ profil.phonenumber }}</p>
            <p>Mail:{{ profil.mail }}</p>
          </div>
        </div>
        <div class="professor2">
          <img src="assets/images/profile/placeholder.jpg" />
          <div class="contactinfo">
            <p>Kontaktinfo:</p>
            <p>Prof. Dr. mustermann</p>
            <p>Tel:{{ profil.phonenumber }}</p>
            <p>Mail:{{ profil.mail }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="project2">
    <p class="projectTitle">
      QQ2: Erstellung von Learning Outcomes und Fragen für ein
      Lernstandskontrolle Onlinetool
    </p>
    <div class="TAGs">
      <p class="tags">
        <a *ngFor="let tag of profil.tags" href="#" rel="tag" class="label">{{
          tag
        }}</a>
      </p>
    </div>
    <div class="projectBodyContainer">
      <div class="projectBodyLeft">
        <p>Arbeitsschritte</p>
        <ol type="a">
          <li class="checked">
            Einführungsstreffen mit Vereinbarung der Vorgehensweise 24.05.
          </li>
          <li class="checked">Bearbeitungszeitraum der Afgabe 24.05.-03.06.</li>
          <li class="checked">
            Erste Vorstellungen von Learning Outcomes und Fragen 04.06
          </li>
          <li>Präsentation der Lerning Outcomes und 10 Fragen 11.06</li>
        </ol>
      </div>
      <div class="projectBodyRight">
        <p>Nächster Termin:13.06 13:30 Uhr</p>
        <div class="professor1">
          <img src="assets/images/profile/placeholder.jpg" />
          <div class="contactinfo">
            <p>Kontaktinfo:</p>
            <p>Prof. Dr. mustermann</p>
            <p>Tel:{{ profil.phonenumber }}</p>
            <p>Mail:{{ profil.mail }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="project-list">
    <p>
      Absgeschlossene Projekte:
    </p>
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Bezeichnung</mat-card-subtitle>
        <mat-card-title>QQ1</mat-card-title>
        <mat-card-subtitle>Status</mat-card-subtitle>
        <mat-card-title>
          <div class="status">ABGESCHLOSSEN</div>
        </mat-card-title>
        <mat-card-subtitle>Betreuungsperson</mat-card-subtitle>
        <mat-card-title>
          Prof. Dozent
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
<div class="studentLayout" *ngIf="isStudent">
  <div class="head">
    <h2>Hallo {{ user.getFullName() }}</h2>
    <p>Deine laufenden Projekte sind:</p>
  </div>
  <div class="project1">
    <p class="projectTitle">
      PP:Entwicklung eines Architekturstils für ein Gesamtsystem
    </p>
    <div class="TAGs">
      <p class="tags">
        <a *ngFor="let tag of profil.tags" href="#" rel="tag" class="label">{{
          tag
        }}</a>
      </p>
    </div>
    <div class="projectBodyContainer">
      <div class="projectBodyLeft">
        <p>Arbeitsschritte</p>
        <ol type="a">
          <li class="checked">
            Grundlegenden Architekturstil des Gesamtsystems festlegen
            14.05.-21.05.
          </li>
          <li class="checked">
            den Architekturstil für die Datenzugriffsschicht bestimmen
            21.05.-28.05.
          </li>
          <li class="checked">
            den Architekturstil für die Logikschicht definieren 28.05.03.06
          </li>
          <li>
            den Architekturstil für die Serviceschicht festlegen 10.06.-17.06.
          </li>
          <li>
            den Architekturstil für die Präsentations-(UI)-Schicht bestimmen
            17-06.-24.06.
          </li>
          <li>
            Entscheidungen in einem kurzen Abstract zusammenfassen 24.06.-31.06
          </li>
        </ol>
      </div>
      <div class="projectBodyRight">
        <p>Nächster Termin:13.06 13:30 Uhr</p>
        <div class="professor1">
          <img src="assets/images/profile/placeholder.jpg" />
          <div class="contactinfo">
            <p>Kontaktinfo:</p>
            <p>Prof. Dr. mustermann</p>
            <p>Tel:{{ profil.phonenumber }}</p>
            <p>Mail:{{ profil.mail }}</p>
          </div>
        </div>
        <div class="professor2">
          <img src="assets/images/profile/placeholder.jpg" />
          <div class="contactinfo">
            <p>Kontaktinfo:</p>
            <p>Prof. Dr. mustermann</p>
            <p>Tel:{{ profil.phonenumber }}</p>
            <p>Mail:{{ profil.mail }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="project2">
    <p class="projectTitle">
      QQ2: Erstellung von Learning Outcomes und Fragen für ein
      Lernstandskontrolle Onlinetool
    </p>
    <div class="TAGs">
      <p class="tags">
        <a *ngFor="let tag of profil.tags" href="#" rel="tag" class="label">{{
          tag
        }}</a>
      </p>
    </div>
    <div class="projectBodyContainer">
      <div class="projectBodyLeft">
        <p>Arbeitsschritte</p>
        <ol type="a">
          <li class="checked">
            Einführungsstreffen mit Vereinbarung der Vorgehensweise 24.05.
          </li>
          <li class="checked">Bearbeitungszeitraum der Afgabe 24.05.-03.06.</li>
          <li class="checked">
            Erste Vorstellungen von Learning Outcomes und Fragen 04.06
          </li>
          <li>Präsentation der Lerning Outcomes und 10 Fragen 11.06</li>
        </ol>
      </div>
      <div class="projectBodyRight">
        <p>Nächster Termin:13.06 13:30 Uhr</p>
        <div class="professor1">
          <img src="assets/images/profile/placeholder.jpg" />
          <div class="contactinfo">
            <p>Kontaktinfo:</p>
            <p>Prof. Dr. mustermann</p>
            <p>Tel:{{ profil.phonenumber }}</p>
            <p>Mail:{{ profil.mail }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="project-list">
    <p>
      Absgeschlossene Projekte:
    </p>
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>Bezeichnung</mat-card-subtitle>
        <mat-card-title>QQ1</mat-card-title>
        <mat-card-subtitle>Status</mat-card-subtitle>
        <mat-card-title>
          <div class="status">ABGESCHLOSSEN</div>
        </mat-card-title>
        <mat-card-subtitle>Betreuungsperson</mat-card-subtitle>
        <mat-card-title>
          Prof. Dozent
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
